VITE_APIKEY= xxxx
VITE_AUTH = xxxx
VITE_PROJECTID= xxxx
VITE_STORAGE= xxxx
VITE_SENDERID = xxxx
VITE_APP= xxxx
VITE_MEASUREMENT=xxxx

VITE_LOGIN_URL = "http://localhost:xxxx/api/xxxx"
VITE_EVENTS_URL = "http://localhost:xxxx/api/xxxx"
VITE_PORTFOLIO_URL = http://localhost:xxxx/api/xxxx"