.circularProgress {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ddd linear-gradient(to right, #ddd 50%, #00c951 0);
}

.circularProgress::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0/50%;
}

.circularProgress::after {
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background: #fff;
}

.circularProgress::before {
    background-color: #00c951;
    transform: rotate(calc(((var(--percent) - 50) * 0.01turn)));
}

.circularProgress.less::before{
    background-color: #ddd;
    transform: rotate(calc(((var(--percent) - 0) * 0.01turn)));
}